<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add a New Product</h1>
    {% if session.get('username') %}
        <div style="text-align: right;">
            Logged in as: {{ session['username'] }} | 
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <a href="{{ url_for('index') }}">Back to Home</a>
    
    <form method="POST">
        <label>Name: <input type="text" name="name" required></label><br>
        <label>Description: <textarea name="description"></textarea></label><br>
        <label>Format: <input type="text" name="format" required></label><br>

        <h2>Range</h2>
        <select name="range" required>
            {% for range in ranges %}
                <option value="{{ range.id }}">{{ range.name }}</option>
            {% endfor %}
            <option value="other_range">Other</option>
        </select>
        <input type="text" name="new_range" placeholder="New range"><br>

        <label for="persons_in_charge">Persons in Charge:</label>
        <textarea id="persons_in_charge" name="persons_in_charge"></textarea>
        <small>Separate multiple names with commas.</small><br><br>

        <h2>Notes</h2>
        {% for note in notes %}
            <label>
                <input type="checkbox" name="notes" value="{{ note.id }}">
                {{ note.name }}
            </label><br>
        {% endfor %}

        <label for="new_notes">Add New Note:</label>
        <textarea id="new_notes" name="new_notes"></textarea>
        <small>Separate multiple notes with commas.</small><br><br>


        <h2>Compositions</h2>
        {% for composition in compositions %}
            <label>
                <input type="checkbox" name="compositions" value="{{ composition.id }}">
                {{ composition.name }}
            </label><br>
        {% endfor %}

        <label for="new_compositions">Add New Compositions:</label>
        <textarea id="new_compositions" name="new_compositions"></textarea>
        <small>Separate multiple compositions with commas.</small><br><br>
        
        <label for="image">Product Image (PNG only):</label>
        <input type="file" name="image" accept="image/png">
        
        <p><button type="submit">Add Product</button></p>
    </form>
</body>
</html>
